th {
    background-color: rgb(17, 81, 145);
    text-align: center;
    align-items: center;
    // font-size: 1.3rem;
}
.table{
    border: 2px solid black;
}
tbody {
    background-color: rgb(251, 254, 255);
}