.filter {
    border: 10px solid rgb(9, 41, 72);
}
.filter-item {
    background-color: rgb(9, 41, 72);
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 2px;
}
.items-card {
    border: 10px solid rgb(9, 41, 72);
}
.item-card {
    border: 2px solid rgb(9, 41, 72);
}
.like {
    // background-color: rgb(9, 41, 72);
    margin: 2px 3px;
}