.welcomeText
{
    font-size: 4rem;
    font-weight: bolder;
    padding-top: 100px;
    color: rgb(255,255,255);
}
.start {
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 50px;
    background-color: rgb(9, 41, 72);;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
}